@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color:#FA7699;
    --secondary-color: #85ce30;
    --tertiary-color: #242424;
    --light-color: #FFFFFF;
}

.equipe-carousel::-webkit-scrollbar {
  height: 8px;
  background-color: #a8a8a8;
}
.equipe-carousel::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 10px;
}

#tutores .d-flex::-webkit-scrollbar {
  height: 8px;
}
#tutores .d-flex::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 10px;
}

#equipe .d-flex::-webkit-scrollbar {
  height: 8px;
}
#equipe .d-flex::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 10px;
}


body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.navbar {
  transition: background-color 0.3s ease;
  background-color: #354b42;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.custom-toggler-icon {
  font-size: 1.8rem; /* Tamanho do ícone */
  color: #fff;       /* Cor do ícone */
}

#nav-btn{
  color: white;

}
#nav-btn:hover{
  color: #354b42;
}
  .navbar img {
    width: 70px;

  }
  
  .navbar a {
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
  }

  .navbar a:hover {
    color: #85ce30;
  }
  
  .navbar .nav-link.disabled {
    opacity: 0.6;
  }
  .dropdown-menu{
    background-color: #354b42;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
  }
  .dropdown-menu a {
    color: white;
    font-size: 0.9rem;
  }
  
  .navbar .btn {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
  
  .custom-width-nav{
    max-width: 1280px;
  }

  .hero {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: fit-content;
    background-image: url(img/bg-teste.png);
    background-size: cover;
  
}



.hero-text p{
    max-width: 450px;
    font-size: 1.5rem;
    color: rgb(41, 40, 40);
    font-weight: 400;
    line-height: 1.3;
}

.hero-right img{
    width: 100%;
    max-width: 450px;
    margin-bottom: 20px;
}


.hero-right {
  position: relative;
}

.logo-hero img{
  width: 100%;
  max-width: 430px;
  margin-bottom: 20px;

}

.trust-badges {
  top: 120px;
  right: -200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.trust-badge {
  background: #fff;
  border-radius: 12px;
  padding: 10px 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  color: #333;
  font-size: 0.9rem;
}

.trust-badge i {
  color: #28a745;
  font-size: 1.2rem;
}




.btn {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 32px;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: #242424;
  border-radius: 30px 30px 30px 30px;
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.btn:hover {
  border: 1px solid #85ce30;
  color: #85ce30;
  background: white;
}


@media screen and (max-width:768px){
    .hero{
        padding-top: 0px;
        margin-top: 50px;
        background-image: url(img/Frame\ 24.png);
        min-height: fit-content;
    }
    .hero-right img{
        width: 100%;
    
        margin-top: 0px;
    }
    .navbar{
        padding-bottom: 10px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    }
    .navbar a{
        color: white;
        font-weight: 600;
    }
    .right-btns a{
      color: #354b42;
    }
    .right-btns{
      padding-bottom: 10px;
    }
    .hero-text{
      padding: 15px;
      background-color: white;
      border-radius: 20px;
      line-height: 1.2;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    }
    .hero-text p{
      font-size: 1.1rem;
      color: rgb(41, 40, 40);
      font-weight: 400;
    }
  
    .logo-hero img{
      width: 100%;
      max-width: 200px;
      padding: 0;

      margin-bottom:10px;
    }

    .text-box{
      padding: 5px;
    }

    .trust-badges {
      right: 0px;
      top: 390px;
      flex-direction: row;
      gap: 0;

    }
    .trust-badge{
      flex-direction: column;
      align-items: center;
      gap: 0;
      padding: 2px;
      font-size: 0.7rem;
      width: 24%;
      margin-left: 3px;
    }
    .btn-centralizado {
      display: block;
      margin: 0 auto;
    }
    .hero-text{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .hero-text p{
      line-height: 1;
      margin-top: 5px;
    }
    .welcome{
    padding-top: 10px;

}

}

.welcome{
    padding-top: 50px;
    padding-bottom: 50px;
}
.welcome p{
    text-align: justify;
    font-size: 1.3rem;
}

.welcome span{
    color: #85ce30;
    font-weight: bolder;
}

.carousel-img {
  object-fit: cover;
  border-radius: 10px;
  max-height: 400px;
}
.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #f3f3f3;
  }
  
.card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-color: #85ce30;
  }
  
.card-hover h5 {
    color: black;
  }
  
.card-hover p {
    color: #666;
  }

.bg-felino{
    background-color: #ebebeb98;
  }
  

/* sobre*/


#contato{
  background-color: #242424;
  color: white;
}

#title{
  font-size: 2rem;
}

.card-custom-bg {
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
  border: 1px solid #85ce30;
}

.card-custom-bg:hover {
  border: 1px solid #78c224;
  transform: scale(1.02);
}

#services i{
    color: #85ce30;
    font-size: 3rem;
    margin-bottom: 1rem;
}

#services p{
  font-size: 1rem;
  font-weight: 400;
  color: #242424;
}

#services h3{
  font-size: 1.2rem;
  font-weight: 600;
  color: #242424;
}

#tutores{
  min-height: 300px;
  width: 100%;
}
#tutores h2{
  font-size: 2rem;
  color: #242424;
  font-weight: bold;
}

#tutores .btn{
  background-color: #85ce30;
  color: white;
  padding: 10px 10px;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: #242424;
  border-radius: 5px;
}

#equipe .btn{
  background-color: #85ce30;
  color: white;
  padding: 10px 10px;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: #242424;
  border-radius: 5px;
}
#equipe h2{
  font-size: 2.2rem;
  color: #242424;
  margin-bottom: 40px;
  font-weight: bold;
}

#equipe {
  max-width: 100%
}


.custom-heading {
  color: #85ce30;
  font-weight: bold;
}

.title-destaque{
  color: white;
}
.title-destaque2{
  color: #242424;
}
#uti, #plantao{
  background-color: #242424;
  color: white;
}

.icon-instagram { color: #85ce30; }
.icon-facebook { color: #85ce30; }
.icon-whatsapp { color: #85ce30; }


#sobre-nos{
  background-color: #242424;
  color: white;
  display: flex;
  align-items: center;
  min-height: 70vh;
}
.about-box{
  background-color: #667c4c2f;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid #f3f3f3;
}

.about-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border-color: #85ce30;
}

#visitas h5{
  color: #67a124;
}
#contato strong{
  color: #85ce30;
  font-weight: bold;
}
.blockquote{
  background-color: #ebebeb98;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #242424;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #25D366;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}
.whatsapp-float:hover {
  transform: scale(1.1);
  text-decoration: none;
}

.whatsapp-float i {
  font-size: 30px;
}
#plantao strong{
  color: #85ce30;
}
#uti strong{
  color: #85ce30;
}
#sobre-nos strong{
  color: #85ce30;
}

#plano h2{
  font-size: 2rem;
  max-width: 500px;
}
#plano span{
  color: #FF8031;
  font-weight: bold;
  font-size: 2rem;
}

#plano i{
  color: #FF8031;
}
#plano p{
  max-width: 550px;
}

#plano blockquote{
  background-color: rgb(235, 235, 235);
  color: #242424;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-bottom: 20px;
  border-left: 4px solid #FF832E;
}

#plano .btn{
  background-color: #FF8031;
  color: white;
  padding: 10px 22px;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: #242424;
  border-radius: 25px;
}
#plano .btn:hover{
  background-color: white;
  color: #FF8031;
  border: 1px solid #FF8031;
}

/* animações de scroll */
/* Estilos base */
.fr, .fl, .fd, .fu, .sl {
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
}

/* Fade Right */
.fr {
  transform: translateX(50px);
}
.fr.v {
  opacity: 1;
  transform: translateX(0);
}

/* Fade Left */
.fl {
  transform: translateX(-50px);
}
.fl.v {
  opacity: 1;
  transform: translateX(0);
}

/* Fade Down */
.fd {
  transform: translateY(50px);
}
.fd.v {
  opacity: 1;
  transform: translateY(0);
}

/* Fade Up */
.fu {
  transform: translateY(-50px);
}
.fu.v {
  opacity: 1;
  transform: translateY(0);
}

/* Slide Left (mais movimento) */
.sl {
  transform: translateX(-80px);
}
.sl.v {
  opacity: 1;
  transform: translateX(0);
}


.delay-1 { transition-delay: 0.3s; }
.delay-2 { transition-delay: .7s; }
.delay-3 { transition-delay: 1.1s; }
.delay-4 { transition-delay: 1.2s; }


/* navegacao carrossel*/


@media screen and (min-width:768px) {
  #carouselTrack::-webkit-scrollbar {
    display: none; /* remove a barra de rolagem no Chrome */
  }

  #carouselTrack {
    scrollbar-width: none; /* remove a barra de rolagem no Firefox */
  }
  #carouselTrack2::-webkit-scrollbar {
    display: none; /* remove a barra de rolagem no Chrome */
  }

  #carouselTrack2 {
    scrollbar-width: none; /* remove a barra de rolagem no Firefox */
  }
}

#carouselTrack > .flex-shrink-0 {
  scroll-snap-align: start;
  margin: 5px;
}
#carouselTrack2 > .flex-shrink-0 {
  scroll-snap-align: start;
  margin: 5px;
}

@media (max-width: 767.98px) {
  #prevBtn,
  #prevBtn2,
  #nextBtn,
  #nextBtn2 {
    display: none !important;
  }
}