@font-face {
  font-family: 'Roboto Variable';
  src: url('assets/fonts/Roboto-VariableFont_wdth,wght.woff2') format('woff2');
  font-weight: 100 900; /* vai do peso 100 até 900 */
  font-style: normal;
  font-stretch: 75% 100%; /* largura variável, se suportado */
}

@font-face {
  font-family: 'Roboto Variable';
  src: url('assets/fonts/Roboto-Italic-VariableFont_wdth,wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-stretch: 75% 100%;
}

html{
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  font: 'Roboto Variable', sans-serif;
}

.navbar #btn-hero{
  color: white;
}
.navbar #btn-hero:hover{
  color: #FF832E;
}

.navbar {
  transition: background-color 0.3s ease, margin-top 0.3s ease;
  background-color: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto Variable', sans-serif;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
}
#btn-nav{
  background-color: #FF832E;
  border-color: #FF832E;
  padding: 0.7rem 1.2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #FF832E;
  transition: all 0.3s ease;
  color: white;
  text-decoration: none;
}
#btn-nav:hover{
  background-color: white;
  color: #FF832E;
  border: 1px solid #FF832E;
}
#btn-nav:focus{
  background-color: white;
  color: #FF832E;
  border: 1px solid #FF832E;
}


.navbar img {
  width: 170px;

}

.navbar a {
  font-weight: 600;
  font-size: 1rem;
}

.navbar ul a{
  color: #242424;
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: capitalize;
  
}

.navbar a.active {
  color: #FF832E;
  font-weight: bold;
}

.navbar a:hover {
  color: #FF832E;
}

.navbar .nav-link.disabled {
  opacity: 0.6;
}

.custom-width-nav{
  max-width: 1280px;
  padding: 0;
  margin: 0;
}

.highlight {
  color: #FF832E;
  font-weight: bold;
}

.body-highlight{
  font-weight: bold;
  border-left: 6px solid #FF832E;
  padding-left: 10px;
}

#hero {
  height: 90vh; /* ou ajuste conforme quiser, ex: 60vh, 80vh */
  min-height: 500px; /* altura mínima para não ficar pequeno em telas pequenas */
  position: relative;
  width: 100%;
}

#hero h1{
  line-height: 1.1;
  max-width: 800px;
  font-size: 2.7rem;
}

#hero p{
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2;
  width: 100%;
  max-width: 800px;
}
#hero span{
  font-weight: bold;
  color: #FF832E;
}

.div-interseccao {
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 40px;
  border-radius: 12px;
  z-index: 5;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
}

.item-intersecao {
  flex: auto;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  color: #FF832E;
}



.item-intersecao i{
  color: #FF832E;
  margin-right: 15px;
  font-size: 2rem;
  border-right: 1px solid #FF832E;
  padding-right: 15px;
}

/* 👇 Responsivo: 2 por linha em telas menores */
@media (max-width: 768px) {
  .div-interseccao{
    padding: 5px;
    gap: 2px;
  }
  .item-intersecao{
    width: 30%;
    flex-direction: column;
    font-size: 1rem;
    padding: 10px 10px;
    gap: 0px;
    line-height: 1.1;
  }
  .item-intersecao i{
    font-size: 1.5rem;
    margin-right: 0px;
    padding-right: 0px;
    border-right: 0;
    border-bottom: 1px solid #FF832E;
    padding-bottom: 5px;
  }
}


#heroCarousel, 
#heroCarousel .carousel-inner, 
#heroCarousel .carousel-item, 
#heroCarousel img {
  height: 100%;
  object-fit: cover;
}

/* Zoom suave durante a exibição do slide */
.carousel-item.active .zoom {
  animation: zoomEffect 5s ease-in-out forwards;
}

/* Definição da animação */
@keyframes zoomEffect {
  0% {
    transform: scale(1); /* Tamanho original */
    transform: opacity(0.1); /* Opacidade inicial */
  }
  10% {
    transform: opacity(1); 
  }
  100% {
    transform: scale(1.2); /* Aumenta 10% */
  }
}


#hero-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  background-color: #FF832E;
  border-color: #FF832E;
}
#btn-hero{
  background-color: #FF832E;
  border-color: #FF832E;
  padding: 0.8rem 1rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #FF832E;
  transition: all 0.3s ease;
  color: white;
}
#btn-hero:hover{
  background-color: white;
  color: #FF832E;
  border: 1px solid #FF832E;
  scale: 1.05;
}
#btn-hero:focus{
  background-color: white;
  color: #FF832E;
  border: 1px solid #FF832E;
}

@media screen and (max-width:768px){

  .navbar{
      padding-bottom: 10px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
      min-height: 80px;
  }

  #hero{
    height: 90vh;
    margin-top: 0px;
    border-radius: 0px;
  }
  #hero h1{
    font-size: 2rem;
    line-height: 1.1;
  }
  #hero-content p{
    font-size: 1.2rem;
  }
  #hero-container{
    width: 100%;
  }

}



.section-2{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.section-2 li{
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.section-2 strong{
  font-weight: 700;
  color: #242424;
  font-size: 1.2rem;
}
.section-2 h2{
  color: #0749AC;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.section-2 h3{
  color: #242424;
  font-size: 1.2rem;
  font-weight: 400;
}

.section-2 p{
  max-width: 600px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}

.section-2 img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

/*beneficios*/
#beneficios{
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#beneficios h2{
  color: #0749AC;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 20px;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
}

#beneficios .card-body{
  background-color: #14448b;
  border-radius: 10px;
  color: white;
}

#beneficios .card-body i{
  color: #FF832E;
}

#beneficios .card {
  transition: all 0.3s ease;
}

#beneficios .card:hover {
  transform: scale(1.03);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

/*fim*/

#wcu{
  background-image: url(img/s2-bgd.webp);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

#wcu i{
  color: #0749AC;
}

#wcu li{
  display: flex;
  align-items: center;
}

#wcu .btn{
  background-color: #0749AC;
  border: 1px solid #0749AC;
  max-width: 500px;
}

#wcu .btn:hover{
  color: white;
}

#sem-plano i{
  color: #242424;
}

@media screen and (max-width:768px){
  #wcu{
    background-image: url(img/s2-bgm.webp);
    background-size: cover;
    padding-top: 50px;
  }
}

@media (min-width: 992px) {
  #uti .d-flex {
    max-height: 600px;
    height: 100%;
  }
  #silvia .d-flex {
    max-height: 800px;
    height: 100%;
  }
  #silvia .d-flex img {
    min-height: 800px;
    height: 100%;
  }
}

@media (max-width: 991px) {
  #silvia .d-flex img{
    max-height: 500px;
    height: 100%;
  }

}
.img-shadow-strong {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5), 
              -10px -10px 20px rgba(0, 0, 0, 0.3);
}



/*planos*/
#planos{
  min-height: 90vh;
  display: flex;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px;
}
#planos-multicat{
  min-height: 90vh;
  display: flex;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

#planos-multicat img{
  max-width: 300px;
}
#planos p{
  max-width: 600px;
}

.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-hover:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.card img{
  max-width: 140px;
}

.card-title{
  color: #0749AC;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.card-hover small{
  font-size: 1.2rem;
  font-weight: 600;
  color: #FF832E;
}


.container-planos-title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.container-planos-title h2{
  color: #FF832E;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 20px;
}

.plan-list li {
  display: flex;
  align-items: start;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.plan-list svg {
  flex-shrink: 0;
  color: #FF832E;
  width: 1.1em;
  height: 1.1em;
  margin-top: 3px;
}

#planos-container{
  display: flex;
  justify-content: center;
  align-items: center;
}


#silvia h2{
  color: #FF832E;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 20px;
}
#silvia blockquote{
  background-color: rgb(235, 235, 235);
  color: #242424;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-bottom: 20px;
  border-left: 4px solid #FF832E;
}

#silvia li{
  font-size: 1.2rem;
  font-weight: 400;
  color: #242424;
  display: flex;
  align-items: center;

}

#silvia li strong{
  font-weight: 500;
}
#silvia li p{
  margin: 0;
}
#uti{
 margin-top: 40px;
 background-color: #14448b;
}
#uti i{
  color: #FF832E;
  font-size: 1.5rem;
  margin-right: 10px;
}

.section-2 i{
  color: #FF832E;
  font-size: 1.5rem;
  margin-right: 10px;
}

#uti .btn{
  background-color: #FF832E;
  max-width: 500px;
}
#uti .btn:hover{
  color: white;
}
#uti h2{
  color: white;
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: 20px;
  border-left: 7px solid #FF832E;
  padding-left: 10px;
}

#uti h5{
  color : white;
  font-weight: bold;
}
#uti li{
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: white;
}
#uti-text{
  padding: 40px;
  
}

#uti p{
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}


@media (max-width: 768px) {
  #uti-text{
    padding: 20px;
  }
  #silvia li{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-top: 8px;

  }
}

.custom-heading{
  font-size: 2rem;
  font-weight: bold;
  color: #0749AC;
  margin-bottom: 20px;
}

.text-silvia{
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
}


.silvia h2{
  color: white;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 20px;
}
.silvia blockquote{
  background-color: rgb(235, 235, 235);
  color: #242424;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-bottom: 20px;
  border-left: 5px solid #0D6EFD;
}

#tutores h2{
  color: #242424;
  font-weight: bold;
  font-size: 1.7rem;
  margin-bottom: 80px;
}

#duvidas{
  padding-top: 100px;
  padding-bottom: 100px;
}
/*contato*/
#contato{
  padding-top: 30px;
}

iframe {
  width: 100%;
  height: 200px;
  border: 0;
}

#silvia i{
  color: #FF832E;
  font-size: 1.6rem;
  margin-right: 10px;
}

/*footer*/

.footer-highlight{
  font-weight: bold;
  border-left: 4px solid #FF832E;
  padding-left: 5px;
}


/* animações de scroll */
/* Estilos base */
.fr, .fl, .fd, .fu, .sl {
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
}

/* Fade Right */
.fr {
  transform: translateX(50px);
}
.fr.v {
  opacity: 1;
  transform: translateX(0);
}

/* Fade Left */
.fl {
  transform: translateX(-50px);
}
.fl.v {
  opacity: 1;
  transform: translateX(0);
}

/* Fade Down */
.fd {
  transform: translateY(50px);
}
.fd.v {
  opacity: 1;
  transform: translateY(0);
}

/* Fade Up */
.fu {
  transform: translateY(-50px);
}
.fu.v {
  opacity: 1;
  transform: translateY(0);
}

/* Slide Left (mais movimento) */
.sl {
  transform: translateX(-80px);
}
.sl.v {
  opacity: 1;
  transform: translateX(0);
}


.delay-1 { transition-delay: 0.5s; }
.delay-2 { transition-delay: 1s; }



/* navegacao carrossel*/


@media screen and (min-width:768px) {
  #carouselTrack::-webkit-scrollbar {
    display: none; /* remove a barra de rolagem no Chrome */
  }

  #carouselTrack {
    scrollbar-width: none; /* remove a barra de rolagem no Firefox */
  }
}

#carouselTrack > .flex-shrink-0 {
  scroll-snap-align: start;
  margin: 5px;
}

@media (max-width: 767.98px) {
  #prevBtn,
  #nextBtn {
    display: none !important;
  }
}



.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #25D366;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}
.whatsapp-float:hover {
  transform: scale(1.1);
  text-decoration: none;
}

.whatsapp-float i{
 font-size: 30px;
 color: white;
}